body {
    margin: 0;
    padding: 0;
  }
  
  body::before {
    content: "";
    background-image: url("../img/fondo-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(22.5px);   
    z-index: -1;
  }

  .Login{
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .Formulario-login{
    border-radius: 15px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d12323a8;
    color: aliceblue;
    margin-top: 10%;
    margin-left: 35%;
  }